<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>

  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <%= f.submit %>

  <p><%= link_to "back to our list", tasks_path %> </p>
<% end %>
